<ion-header class="header_sec">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-grid class="ion-no-padding">
   <ion-row class="banner_sec">
     <ion-col size="12">
       <h4>CORONAVIRUS EXPLAINED <ion-icon name="arrow-forward-outline"></ion-icon></h4>
     </ion-col>
   </ion-row>
   <ion-row class="covid_text_doc">
     <ion-col size="12">
       <h5>Covid-19</h5>
       <strong>Lorem Ipsum is simply dummy text of the printing?</strong>
       <span>Lorem Ipsum | May 29, 2021-12:30</span>
       <p class="dark_clr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum, sem in varius commodo,
          dui nunc molestie sem, quis pulvinar sem magna sit amet massa.</p>
          <p class="light_clr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum, sem in varius commodo,
            dui nunc molestie sem, quis pulvinar sem magna sit amet massa.</p>
            <p class="light_clr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum, sem in varius commodo,
              dui nunc molestie sem, quis pulvinar sem magna sit amet massa.</p>
     </ion-col>
   </ion-row>
 </ion-grid>
</ion-content>
