<ion-header class="header_sec">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="language_sec">
      <ion-col size="12" class="logo_sec">
        <img src="assets/imgs/rajmat.png">
      </ion-col>
      <ion-col size="12" class="preferred_text">
        <p>Select preferred news language</p>
      </ion-col>
      <ion-col size="6">
          <div class="wrap_sec" routerLink="/tabs">
            <p>Hindi<span>H</span></p>
          </div>
      </ion-col>
      <ion-col size="6">
        <div class="wrap_sec others">
          <p>Marathi<span>M</span></p>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="wrap_sec">
          <p>Tamil<span>T</span></p>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="wrap_sec">
          <p>Telgu<span>T</span></p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="others_con">
        <p>Other country >></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>