
.tab-selected {
    ion-icon {
      color: #C6202F;
    }
    ion-label{
            color: #C6202F;
    }
}
.tabs_sec {
  ion-tab-bar {
    box-shadow: 0px 0px 4px #d2d2d2;
    border-radius: 22px 22px 0px 0px;
  }
}


.tab-selected {
  .select_mob {
    display: block;
  }
  .unselect_mob {
    display: none;
  }
}
.select_mob {
  display: none;
}