.sidebar_header {
    text-align: center;
    position: absolute;
    top: 0;
    ion-toolbar {
        --background: transparent;
        ion-title {
            img {
                max-width: 150px;
                width: 100%;
                margin: 20px;
            }
        }
    }
}
.logo_sec {
    background: #fff;
    text-align: center;
    img {
        max-width: 150px;
        width: 100%;
        margin: 20px;
        margin-top: 55px;
        margin-bottom: 35px;
    }
}
.sidebar_menu_list{
    ion-item {
        ion-icon {
          color: #C6202F;
        }
        ion-label{
            color: #C6202F;
            margin-left: 12px; 
        }
    }
    ion-icon[name="log-out"] {
        margin-right: 0;
    }
    img {
        margin-right: 2px;
    }
}

.sidebar_app_sec {
    --background: transparent;
    opacity: .9;
}
h6.commu_sec {
    padding-left: 18px;
    color: #C6202F;
    font-size: 16px;
    font-weight: 600;
}