<!-- <ion-header>
  <ion-toolbar>
    <ion-title>signin</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid id="main_sec">
    <ion-row id="inner_sec">
      <ion-col size="12">
        <img src="assets/imgs/rajmat.png">
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-icon name="person"></ion-icon>
          <ion-label>
            <ion-input placeholder="First Name"></ion-input>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="person"></ion-icon>
          <ion-label>
            <ion-input placeholder="Last Name"></ion-input>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="mail-open"></ion-icon>
          <!-- <ion-icon name="message"></ion-icon> -->
          <ion-label>
            <ion-input placeholder="Email"></ion-input>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="call"></ion-icon>
          <ion-label>
            <ion-input placeholder="Phone No"></ion-input>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="lock-closed"></ion-icon>
          <ion-label>
            <ion-input placeholder="Password"></ion-input>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="login_btn">
        <ion-button>Signup</ion-button>
        <p class="ion-text-center"><span routerLink="/forgot">Forgot Password</span></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row class="footer_sec">
    <ion-col size="12">
      <p routerLink="/">Already have an account? Sign in</p>
    </ion-col>
  </ion-row>
</ion-footer>
