#inner_sec {
    ion-col[size="12"]{
        text-align: center;
        display: block;
        max-width: 95% !important;
        width: 100% !important;
        margin: auto;
        img{
            max-width: 144px;
            margin: auto;
            width: 100%;
            margin-bottom: 4px;
         }
        h4 {
         text-align: center;
         font-weight: 600;
         margin-bottom: 16px;
        }
        ion-item{
            --background: #fdebdf;
            margin-bottom: 24px;
            border-radius: 30px;
            ion-label {
                width: 100%;
                max-width: 100% !important;
                color: #f37c2c;
                margin-top: 4px;
                margin-bottom: 4px;
            }
            ion-icon{
                color: #f37c2c;  
                font-size: 20px;
            }
        }
    }
   
}

#main_sec {
    height: 100%;
    width: 100%;
    display: table;
}
#inner_sec {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}
.login_btn {
    ion-button {
        width: 100%;
        --border-radius: 30px;
        height: 42px;
        --background: #e57a24;
    }
}

ion-footer {
    .footer_sec{
        background: #fdebdf;
        border-radius: 30px 30px 0px 0px;
        ion-col[size="12"] {
            text-align: center;
            color: #e57a24;
        }
    }
}
ion-content {
    --background: transparent;
    background: url(/assets/imgs/bg.png);
    background-size: cover;
    background-position: center -5px;
    background-repeat: no-repeat;
}