.right_side_menu {
    ion-icon {
    margin: 8px;
    font-size: 20px;
    }
}
ion-header{
    ion-toolbar {
        --background: transparent;
        background: url(/assets/imgs/bg2.png);
        background-size: cover;
        background-position: center -5px;
        background-repeat: no-repeat;
    }
}

.searchbar_sec {
    ion-searchbar {
        --border-radius: 30px;
        --box-shadow: 0px 0px 0px;
        border: 1px solid #f37c2c;
        border-radius: 30px;
        padding: 0;
        max-width: 85%;
        width: 100%;
        margin: auto;
    }
}

.trending_sec {
    ion-item{
        --background: transparent !important;
    }
    ion-label {
        font-size: 18px !important;
        font-weight: 600;
        color: #f37c2c;
    }
    span {
        background: #f37c2c;
        padding: 8px 15px;
        border-radius: 30px;
        font-size: 12px;
        color: #fff;
    }
}
ion-content {
    --background: transparent;
    background: url(/assets/imgs/bg2.png);
    background-size: cover;
    background-position: center -5px;
    background-repeat: no-repeat;
}
.listing_sec {
    padding: 0;
    list-style-type: none;
    white-space: nowrap;
    overflow-y: auto;
    margin-bottom: 0;
    li{
        display: inline-block;
        margin-right: 12px;
        img{
            max-width: 120px;
            width: 100%;
            height: 120px;
            object-fit: cover;
            border-radius: 15px;
        }
    }
}
.right_side_menu {
    img {
        max-width: 22px;
        height: 22px;
        width: 100%;
        margin: 0px 6px;
        object-fit: contain;
    }
}


.subs_btn {
    text-align: center;
    ion-button {
        width: 100%;
        --border-radius: 30px;
        max-width: 70%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        --background: #f37c2c;
        text-transform: capitalize;
    }
}