<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" class="right_side_menu">
      <img src="assets/imgs/userpro.png">
      <img src="assets/imgs/envelop.png">
      <img src="assets/imgs/notify.png">
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="searchbar_sec">
      <ion-col size="12" class="search_input_sec">
        <ion-searchbar></ion-searchbar>
      </ion-col>
      <ion-col size="12" class="trending_sec">
        <ion-item lines="none">
          <ion-label>Trending News</ion-label>
          <span>View All</span>
        </ion-item>
        <ul class="listing_sec">
          <li>
            <img src="assets/imgs/trading.png">
          </li>
          <li>
            <img src="assets/imgs/trading.png">
          </li>
          <li>
            <img src="assets/imgs/trading.png">
          </li>
          <li>
            <img src="assets/imgs/trading.png">
          </li>
        </ul>
      </ion-col>
      <ion-col size="12" class="trending_sec">
        <ion-item lines="none">
          <ion-label>National News</ion-label>
          <!-- <span>View All</span> -->
        </ion-item>
        <ul class="listing_sec">
          <li>
            <img src="assets/imgs/national.png">
          </li>
          <li>
            <img src="assets/imgs/national.png">
          </li>
          <li>
            <img src="assets/imgs/national.png">
          </li>
          <li>
            <img src="assets/imgs/national.png">
          </li>
        </ul>
      </ion-col>
      <ion-col size="12" class="trending_sec">
        <ion-item lines="none">
          <ion-label>State News</ion-label>
          <!-- <span>View All</span> -->
        </ion-item>
        <ul class="listing_sec">
          <li>
            <img src="assets/imgs/state.png">
          </li>
          <li>
            <img src="assets/imgs/state.png">
          </li>
          <li>
            <img src="assets/imgs/state.png">
          </li>
          <li>
            <img src="assets/imgs/state.png">
          </li>
        </ul>
      </ion-col>

      <ion-col size="12" class="subs_btn">
        <ion-button>Subscribe Now</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
