<ion-header class="header_sec">
  <ion-toolbar no-padding>
    <ion-buttons slot="start" class="back_buttons">
      <ion-back-button class="back_icons"></ion-back-button>
    </ion-buttons> 
    
     <ion-title>Add Post</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-grid>
      <ion-row class="card_img">
        <ion-col size="12">
          <img src="assets/imgs/camera-placeholder.png" class="img_camera">
        </ion-col>
      </ion-row>
      <ion-row class="news_title">
        <ion-col size="12">
          <ion-input placeholder="News Title"></ion-input>
        </ion-col>
      </ion-row>
      
      <ion-row class="textarea_sec">
        <ion-col size="12">
          <ion-textarea placeholder="Write something here..."></ion-textarea>
        </ion-col>
      </ion-row>
   

      <ion-row class="addnew_btn">
        <ion-col size="12" no-padding>
            <ion-button expand="block" type="SUBMIT" class="add_post">Post</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
    
  </form>

</ion-content>
