<ion-header class="header_sec">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="Privacy_sec">
    <ion-row>
      <ion-col size="12">
        <h4>Privacy </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus efficitur, 
          ipsum at pharetra tempor, nisl neque porttitor lacus, in consectetur tellus massa in lorem. 
          Phasellus vitae consequat metus, eget volutpat mauris. Vestibulum laoreet elit a elit sollicitudin blandit. 
          Etiam feugiat sem nunc, sit amet fringilla lectus ultrices sit amet. Nunc nec leo pharetra, 
          laoreet urna nec, ultricies nunc. Duis mollis nulla eget ligula rhoncus rhoncus. 
          Pellentesque viverra tempor ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
          per inceptos himenaeos. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
          posuere cubilia curae; Nunc odio sapien, pellentesque egestas ligula sit amet, 
          venenatis interdum arcu. Vivamus in ex at leo rhoncus sagittis ac eget urna.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
