<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid>
    <ion-row class="my_profile_sec">
      <ion-col size="12">
        <h6 class="ion-text-center">My Profile</h6>
        <ion-item lines="none" class="ion-no-padding">
           <img src="assets/imgs/national.png">
           <ion-label>Lorem Ipsum</ion-label>
           <span>Edit</span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="preference">
      <ion-col size="12">
        <h5>Preference</h5>
        <ion-item lines="none" class="ion-no-padding">
          <ion-icon name="moon" mode="md"></ion-icon>
          <ion-label>Dark mode</ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
        <ion-item lines="none" class="ion-no-padding">
          <ion-icon name="notifications" mode="md"></ion-icon>
          <ion-label>Notifications</ion-label>
          <ion-toggle checked></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="preference">
      <ion-col size="12">
        <h5>Summary</h5>
        <ion-item lines="none" class="ion-no-padding">
          <ion-icon name="location" mode="md"></ion-icon>
          <ion-label>News by location</ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
        <ion-item lines="none" class="ion-no-padding">
          <ion-icon name="time" mode="md"></ion-icon>
          <ion-label>Time to read</ion-label>
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-item>
        <ion-item lines="none" class="ion-no-padding">
          <ion-icon name="language" mode="md"></ion-icon>
          <ion-label>Language</ion-label>
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-item>
        <ion-item lines="none" class="ion-no-padding">
          <ion-icon name="help" mode="md"></ion-icon>
          <ion-label>Help</ion-label>
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
