
<super-tabs>
  <super-tabs-toolbar slot="top">
    <super-tab-button>
      <ion-label>For you</ion-label>    
    </super-tab-button>
    <super-tab-button>
      <ion-label>Latest</ion-label>    
    </super-tab-button>
    <super-tab-button>
      <ion-label>Headlines</ion-label>    
    </super-tab-button>
    <super-tab-button>
      <ion-label>Local</ion-label>    
    </super-tab-button>
    <ion-icon name="caret-down"></ion-icon>
  </super-tabs-toolbar>
  <super-tabs-container>
    <super-tab>
      <ion-row>
        <ion-col size="12" class="add_circle ion-text-right">
          <ion-icon name="add" routerLink="/addupload"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-content>
         <ion-grid class="news_sec">
           <ion-row>
           
             <ion-col size="12" class="wrap_sec">
               <h5>Here are you news!</h5>
               <span>Top news curated for you</span>
               <img src="assets/imgs/homebanner.png">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum velit et turpis dignissim, 
                 a ornare turpis faucibus. Cras suscipit vehicula eros eget condimentum. </p>
                 <ion-item class="ion-no-padding today_sec" lines="none">
                   <ion-label>
                     <p><span>T</span>Today</p>
                   </ion-label>
                   <ion-label class="selected_icon">
                    <ion-icon name="heart"></ion-icon><sup><ion-badge item-end class="iocn_badge">12</ion-badge></sup>
                    <ion-icon name="chatbox-ellipses"></ion-icon><sup><ion-badge item-end class="iocn_badge">12</ion-badge></sup>
                    <ion-icon name="ellipsis-vertical"></ion-icon>
                   </ion-label>
                   
                 </ion-item>
             </ion-col>
           </ion-row>

           <ion-row>
             <ion-col size="12">
               <ion-item class="ion-no-padding listing_item" lines="none">
                 <ion-label>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum velit et turpis dignissim, 
                    a ornare turpis faucibus. Cras suscipit vehicula eros eget condimentum. </p>
                 </ion-label>
                 <img src="assets/imgs/homesmall.png">
               </ion-item>
               <ion-item class="ion-no-padding today_sec" lines="none">
                <ion-label>
                  <p>1 MINT AGO</p>
                </ion-label>
                <ion-label class="not_select_icon">
                  <ion-icon name="heart"></ion-icon><sup><ion-badge item-end class="iocn_badge">12</ion-badge></sup>
                  <ion-icon name="chatbox-ellipses"></ion-icon><sup><ion-badge item-end class="iocn_badge">12</ion-badge></sup>
                  <ion-icon name="ellipsis-vertical"></ion-icon>
                </ion-label>
                
              </ion-item>
             </ion-col>
           </ion-row>
         </ion-grid>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <ion-grid class="news_sec">
          <ion-row>
            <ion-col size="12" class="wrap_sec">
              <h5>Here are you news!</h5>
              <span>Top news curated for you</span>
              <img src="assets/imgs/homebanner.png">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum velit et turpis dignissim, 
                a ornare turpis faucibus. Cras suscipit vehicula eros eget condimentum. </p>
                <ion-item class="ion-no-padding today_sec" lines="none">
                  <ion-label>
                    <p><span>T</span>Today</p>
                  </ion-label>
                  <ion-label class="selected_icon">
                   <ion-icon name="heart"></ion-icon><sup><ion-badge item-end class="iocn_badge">12</ion-badge></sup>
                   <ion-icon name="chatbox-ellipses"></ion-icon><sup><ion-badge item-end class="iocn_badge">12</ion-badge></sup>
                   <ion-icon name="ellipsis-vertical"></ion-icon>
                  </ion-label>
                  
                </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-item class="ion-no-padding listing_item" lines="none">
                <ion-label>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum velit et turpis dignissim, 
                   a ornare turpis faucibus. Cras suscipit vehicula eros eget condimentum. </p>
                </ion-label>
                <img src="assets/imgs/homesmall.png">
              </ion-item>
              <ion-item class="ion-no-padding today_sec" lines="none">
               <ion-label>
                 <p>1 MINT AGO</p>
               </ion-label>
               <ion-label class="not_select_icon">
                 <ion-icon name="heart"></ion-icon><sup><ion-badge item-end class="iocn_badge">12</ion-badge></sup>
                 <ion-icon name="chatbox-ellipses"></ion-icon><sup><ion-badge item-end class="iocn_badge">12</ion-badge></sup>
                 <ion-icon name="ellipsis-vertical"></ion-icon>
               </ion-label>
               
             </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
     </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <ion-grid class="news_sec">
          <ion-row>
            <ion-col size="12" class="add_circle ion-text-right">
              <ion-icon name="add"></ion-icon>
            </ion-col>
            <ion-col size="12" class="wrap_sec">
              <h5>Here are you news!</h5>
              <span>Top news curated for you</span>
              <img src="assets/imgs/homebanner.png">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum velit et turpis dignissim, 
                a ornare turpis faucibus. Cras suscipit vehicula eros eget condimentum. </p>
                <ion-item class="ion-no-padding today_sec" lines="none">
                  <ion-label>
                    <p><span>T</span>Today</p>
                  </ion-label>
                  <ion-label class="selected_icon">
                   <ion-icon name="heart"></ion-icon><sup><ion-badge item-end class="iocn_badge">12</ion-badge></sup>
                   <ion-icon name="chatbox-ellipses"></ion-icon><sup><ion-badge item-end class="iocn_badge">12</ion-badge></sup>
                   <ion-icon name="ellipsis-vertical"></ion-icon>
                  </ion-label>
                  
                </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-item class="ion-no-padding listing_item" lines="none">
                <ion-label>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum velit et turpis dignissim, 
                   a ornare turpis faucibus. Cras suscipit vehicula eros eget condimentum. </p>
                </ion-label>
                <img src="assets/imgs/homesmall.png">
              </ion-item>
              <ion-item class="ion-no-padding today_sec" lines="none">
               <ion-label>
                 <p>1 MINT AGO</p>
               </ion-label>
               <ion-label class="not_select_icon">
                 <ion-icon name="heart"></ion-icon><sup><ion-badge item-end class="iocn_badge">12</ion-badge></sup>
                 <ion-icon name="chatbox-ellipses"></ion-icon><sup><ion-badge item-end class="iocn_badge">12</ion-badge></sup>
                 <ion-icon name="ellipsis-vertical"></ion-icon>
               </ion-label>
               
             </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
     </ion-content>
    </super-tab>

    <super-tab>
      <ion-content>
        <ion-grid class="news_sec">
          <ion-row>
            <ion-col size="12" class="wrap_sec">
              <h5>Here are you news!</h5>
              <span>Top news curated for you</span>
              <img src="assets/imgs/homebanner.png">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum velit et turpis dignissim, 
                a ornare turpis faucibus. Cras suscipit vehicula eros eget condimentum. </p>
                <ion-item class="ion-no-padding today_sec" lines="none">
                  <ion-label>
                    <p><span>T</span>Today</p>
                  </ion-label>
                  <ion-label class="selected_icon">
                   <ion-icon name="heart"></ion-icon><sup><ion-badge item-end class="iocn_badge">12</ion-badge></sup>
                   <ion-icon name="chatbox-ellipses"></ion-icon><sup><ion-badge item-end class="iocn_badge">12</ion-badge></sup>
                   <ion-icon name="ellipsis-vertical"></ion-icon>
                  </ion-label>
                  
                </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-item class="ion-no-padding listing_item" lines="none">
                <ion-label>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum velit et turpis dignissim, 
                   a ornare turpis faucibus. Cras suscipit vehicula eros eget condimentum. </p>
                </ion-label>
                <img src="assets/imgs/homesmall.png">
              </ion-item>
              <ion-item class="ion-no-padding today_sec" lines="none">
               <ion-label>
                 <p>1 MINT AGO</p>
               </ion-label>
               <ion-label class="not_select_icon">
                 <ion-icon name="heart"></ion-icon><sup><ion-badge item-end class="iocn_badge">12</ion-badge></sup>
                 <ion-icon name="chatbox-ellipses"></ion-icon><sup><ion-badge item-end class="iocn_badge">12</ion-badge></sup>
                 <ion-icon name="ellipsis-vertical"></ion-icon>
               </ion-label>
               
             </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
     </ion-content>
    </super-tab>
  </super-tabs-container>
</super-tabs>

